spring:
  application:
    name: spring-cloud-eureka-feign-client
server:
  port: 8080
feign:
  circuitbreaker:
    enabled: true
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}

